# Logs
*.log
**/logs
**/packages

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies/packages/flutter_tools/lib/src/cache/**/.packages
!/bin/cache/**/.packages

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be committed to version control.
.vscode/

# The .idea folder contains IntelliJ project configuration files
# (workspace xml, project xml, and the like), which are user-specific.
.idea/

# The .gradle folder contains build files related to Gradle which are used to improve the speed of Gradle builds.
.gradle

# Avoid committing generated Javascript bundle files.
**/flutter_service_worker.js

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
